<div class="header-top">
    <div class="container clearfix">
        <ul class="follow-us">
            <li>
                <a href="#" target="_blank" title="HIGH QUALITY ASSIGNMENT HELP ON TWITTER">
                    <span class="fa-social-midea-icon fa fa-twitter" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" title="HIGH QUALITY ASSIGNMENT HELP ON FACEBOOK">
                    <span class="fa-social-midea-icon fa fa-facebook" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" title="HIGH QUALITY ASSIGNMENT HELP ON LINKEDIN">
                    <span class="fa-social-midea-icon fa fa-linkedin" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" title="HIGH QUALITY ASSIGNMENT HELP ON YOUTUBE">
                    <span class="fa-social-midea-icon fa fa-youtube-play" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" title="HIGH QUALITY ASSIGNMENT HELP ON INSTAGRAM">
                    <span class="fa-social-midea-icon fa fa-instagram" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
        <div class="right-block clearfix">
            <ul class="top-nav">
                <li ><a routerLink="/home/blogs" title="BLOG HIGH QUALITY ASSIGNMENT HELP">Blog</a></li>
                <li><a routerLink="/home/faq" title="FAQS HIGH QUALITY ASSIGNMENT HELP">FAQs</a></li>
            </ul>
        </div>
    </div>
</div>