<app-header></app-header>
<div class="container">
    <div class="margin-t-50">
        <mat-card>
            <div style="text-align: center;">
                <mat-card-title>Varify Your Email</mat-card-title>
            </div>
            <form class="forgotpass" [formGroup]="forgetPassForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width" class="registration-fields">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" name="email" formControlName="email">
                        </mat-form-field>
                        <p *ngIf="submitted && fc.email.errors?.required">Please enter Email Address</p>
                        <p *ngIf="submitted && fc.email.errors?.email">Please enter valid Email Address</p>
                    </div>                 
                </div>
                <mat-card-actions>
                    <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>