<div class=" container-fluid" style="background-color: rgb(234, 234, 247);">
<div class="container padding-t-30">
    <h1 style="text-align: center;">Our Other Services</h1>
<div class="row padding-t-50 ">
    <div class="col-md-6 services">
        <ul>
           <li> <button type="button" class="btn btn-primary" (click)="test1()">Primary</button> </li>
           <li> <button type="button" class="btn btn-secondary" (click)="test()">Secondary</button>  </li>
           <li> <button type="button" class="btn btn-success" (click)="test1()">Success</button>  </li>
           <li> <button type="button" class="btn btn-danger" (click)="test()">Danger</button>  </li>
           <li> <button type="button" class="btn btn-warning" (click)="test1()">Warning</button>  </li>
           <li> <button type="button" class="btn btn-info" (click)="test()">Info</button>  </li>
           <li> <button type="button" class="btn btn-light" (click)="test1()">Light</button>  </li>
           <li> <button type="button" class="btn btn-dark" (click)="test()">Dark</button>  </li>
           <li><button type="button" class="btn btn-link" (click)="test1()">Links</button>  </li>
        </ul>

 

    </div>
    <div class="col-md-6">

        <div class="containerh">
            <img src={{imageSrc}} alt="non" width="100%">
            <div class="text-block"><p>{{ service[index] }}</p></div>
          </div>
    </div>
</div>
<div class="text-center"> <button type="button" class="btn btn-primary margin-b-30" >View More services</button> </div>

</div>
</div>