<div class="container">
    <div class="margin-t-50">
        <div class="row">
            <div class="col-md-7">
                <p>We acknowledge your concern regarding your privacy while using our services. We have defined our
                    privacy policy to ensure your personal details are safe with us</p>
                <ul>
                    <li>All the contact details (email ids, phone numbers) are kept confidential with our company. These
                        details are not shared with any third party.</li>
                    <li>Your contact details are used only for the purpose of communication regarding your orders booked
                        with us. These are not used for any other purpose.</li>
                    <li>We do not share your personal details with the experts (tutors) and vice versa. It is to ensure
                        that privacy of clients as well as experts is maintained with us. We can get you connected with
                        the experts to provide any clarifications regarding your order but we don’t share their contact
                        details with the clients.
                        The assignment solutions provided to the clients are not used for any other purpose and not
                        stored on our server for more than 3 months.</li>
                    <li>The information related to credit cards while making any transactions with us is kept
                        confidential with our Payment partners.</li>
                    <li> We don’t get access to your credit card or bank account details.</li>
                    <li>
                        In case of any conflicts/claims regarding the order, we would need to share the communication
                        details with our Payment partners for resolving the issue. It doesn’t amount to breach of your
                        privacy as it is a legal procedure which must be followed in case of any disagreement over the
                        service provided.
                        Our privacy policy is revised periodically. It is advised to visit this page regularly for any
                        updates need on the same.</li>
                </ul>
            </div>
            <div class="col-md-5 margin-t-50">
                <img  src="\assets\images\privacy-policy-featured-image.jpg" alt="privacy policy" width="100%">
            </div>
        </div>
    </div>
</div>