

.tmp-select .mat-form-field-flex {
    width: 200px ;
    background-color: #039BE5 !important;
    margin: 10px;
    border-radius: 4%;
    float: right !important;
}

.tem-button button{
    background: #039BE5 !important;
    margin: 10px;
    float: right;
}
