<div class="container-fluid copyright ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 contant">
                <p> Disclaimer: We strongly recommend you to not submit the sample or any other model
                    papers provided by highqualityassignmenthelp.com as it is. These reference papers are
                    intended to be used for enhancing your research and knowledge. </p>
            </div>
            <div class="col-md-4 contant">
                <ul>
                    <li>
                        <span class="fa fa-map-marker"></span><a href="#">Complex,
                            opposite Dainik Bhasker office, Indore(M. P.)</a>
                    </li>
                    <li><span class="fa  fa-whatsapp"></span><a
                            href="https://api.whatsapp.com/send?phone=7049618119"><span>+91</span> 7049618119</a> </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Copyright &copy; {{ year }} , <span class="HQAH"> HighQualityAssignmentHelp.com </span> All Copyrights Reserved </p>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>100% Secure Payment</li>
                    <li><img src="assets/images/pay.png" height="40px" width="100%"></li>
                </ul>
    
            </div>
        </div>
    </div>
    </div>