/* .my-finance,
.my-wallet {
    margin: 15px;
    color: dimgray;
}
.wallet-balance-section {
    display: inline-block;
}
.wallet-icon-top-banner {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 10px;
    font-size: 30px;
    color: #fff;
}
.wallet-balance-section {
    display: inline-block;
}
.sbold {
    font-weight: 600!important;
}
.wallet-row {
    background-color: #338387;
    padding: 10px 0px 10px 0px;
}
.add-money-input {
    width: 100%;
}
.add-money-button {
    margin-top: 10px;
}
.get-offer-add-money {
    background-color: darkcyan;
}
.attractive-offer {
    text-align: center;
    margin-top: 55px;
}
.attractive-offer-btn {
    padding: 10px;
    margin: 10px;
}
.offer-section {
    display: inline-block;
}
.cashback-discription {
    margin-top: 10px;
}
.about-wallet {
    padding: 30px;
    background-color: #f4f4f4;
}
.adding-benifits {
    text-align: center;
    margin-top: 10px;
}
.benifits-tab {
    height: 70px;
    width: 90px;
    background-color: blue;
    margin: 20px 45px 5px 25px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}
.benifits-parent {
    display: flex;
}
.get-more {
    margin-right: 180px;
    color: #fff;
}
.benifit-add-tab {
    margin-bottom: 50px;;
}
.table-responsive {
    display: table;
  } */