<p>wallet works!</p>


<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="my-finance"> My Finance</h3>
        </div>
    </div>
    <table class="table table-responsive w-100 d-block d-md-table">
        <thead>
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Subject</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Discount Applied</th>
                <th scope="col">Remaining Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="my-wallet"> My Wallet</h3>
        </div>
    </div>
    <div class="row wallet-row">
        <div class="col-sm-3 border-right wallet-balance-section">
            <mat-icon class="wallet-icon-top-banner mt-0">money</mat-icon>
            <h3 class="bold text-white wallet-balance-section mt-0 mb-0">
                <span class="sbold">$</span>22 <strong class="h5 sbold mb-0 mt-0" style="display:block;">Your Wallet
                    Balance</strong>
            </h3>
        </div>
        <div class="col-sm-5">
            <mat-form-field class="example-full-width add-money-input">
                <mat-label>Add Money</mat-label>
                <input matInput type="number" placeholder="Enter Amount" class="addMoneyInput" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <button class="add-money-button" mat-flat-button color="primary">
                Add Money to Wallet
            </button>
        </div>
    </div>
    <div class="row get-offer-add-money">
        <div class="col-sm-6 benifit-add-tab">
            <div class="attractive-offer">
                <span>Add to get attractive offer</span>
                <div>
                    <div class="offer-section">
                        <button class="attractive-offer-btn" mat-flat-button color="primary"
                            (click)="addMoneyByClick('300', '75')">
                            Add $300
                        </button>
                        <div>
                            get $375
                        </div>
                    </div>
                    <div class="offer-section">
                        <button class="attractive-offer-btn" mat-flat-button color="primary"
                            (click)="addMoneyByClick('450', '100')">
                            Add $450
                        </button>
                        <div>
                            get $550
                        </div>
                    </div>
                    <div class="cashback-discription">
                        <span>{{
                                        "Add $"+ cashbackMoney.base +" and get $"+ cashbackMoney.total +"("+ cashbackMoney.base + " + " + cashbackMoney.cashback +" cashback)"
                                }}</span><br>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" class="addMoneyInput" autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 benifit-add-tab">
            <div class="attractive-offer">
                <span>Benifits of Adding Money</span>
                <div>
                    <div class="offer-section">
                        <div class="benifits-parent">
                            <div class="benifits-tab">
                                Add Less
                            </div>
                            <div class="benifits-tab">
                                Instant Refund
                            </div>
                        </div>
                        <span class="get-more">Get More</span>
                    </div>
                    <div class="offer-section">
                        <div class="benifits-parent">
                            <div class="benifits-tab">
                                Premium Member
                            </div>
                            <div class="benifits-tab">
                                Instant Revision
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row about-wallet">
        <div class="col-sm-6">
            <div>
                <h3>What is a wallet?</h3>
                <div>
                    High Quality Assignment Help has introduced a unique digital wallet facility that allows you to
                    store
                    balance credits from cash back, referral bonuses, rewards, discount offers and refunds. You can use
                    the
                    amount while placing your orders with us.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h3>How can I use my wallet?</h3>
                <div>
                    You can start using High Quality Assignment Help wallet once you register with us and do your first
                    recharge.
                </div>
            </div>
        </div>
    </div>
</div> -->