<p>profile works!</p>

<!-- 
<div class="container">
    <div class="row main-container">
        <div class="col-sm-4 align-self-start">
            <mat-card class="profile-center">
           
                <div class="card" (click)="profileInput.click()">
                    <img [src]="profileUrl" alt="Avatar">
                    <input id="profileInput" #profileInput type="file" style="display:none;"
                        (change)="onProfileChange($event)" type="file" accept="image/*">
                </div>
                <div class="name-container">
                    <h4><b>Abhishek Panchal</b></h4>
                </div>

                <div class="name-container">
                    <h4><b>Email</b></h4>
                    <p>abhi@gmail.com</p>
                </div>
                <div class="name-container">
                    <h4><b>Phone Number</b></h4>
                    <p>9999999999</p>
                </div>
            </mat-card>
          
        </div>


        <div class="col-sm-8">
     
            <div class="row justify-content-end">
                <div class="col-sm-4 offset-sm-4">
                    <mat-card-title (click)="displayProfile()" class="offer1"><span><i class="material-icons">edit
                            </i></span><strong>Edit</strong>
                    </mat-card-title><br><br>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>About</h4>
                    <p><label class="profile-label" for="Name">Name:- </label>
                        <span class="profile-detail">Abhishek Panchal</span>
                    </p>
                    <p><label class="profile-label" for="Name">Email:- </label>
                        <span class="profile-detail">abhi@gmail.com</span>
                    </p>
                    <p><label class="profile-label" for="Name">DOB:- </label>
                        <span class="profile-detail">20/06/1998</span>
                    </p>
                    <p><label class="profile-label" for="Name">Gender:- </label>
                        <span class="profile-detail">Male</span>
                    </p>
                    <p><label class="profile-label" for="Name">Mobile No.:- </label>
                        <span class="profile-detail">9999999999</span>
                    </p>
                    <p><label class="profile-label" for="Name">Address:- </label>
                        <span class="profile-detail">Indore (MP)</span>
                    </p>
                    <p><label class="profile-label" for="Name">University:- </label>
                        <span class="profile-detail">RGPV</span>
                    </p>

                </div>

            </div>
           
        </div>
    </div>

</div>

<ng-template #profileInfo>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" value="Abhishek Panchal">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="abhi@gmail.com">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Gender</mat-label>
            <mat-select>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Mobile No.</mat-label>
            <input matInput placeholder="Mobile No." value="9999999999">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" value="Indore (MP)">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>University</mat-label>
            <input matInput placeholder="University" value="RGPV">
        </mat-form-field><br>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button>Cancel</button>
    </form>
</ng-template> -->