.footer-bg { 
    background-image: url('/assets/images/footer backgroundimg.png');
    background-size: 100% 100%;
  }
  .footer-bg a:hover {
    padding-left: 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
  .review-container1 { display: none; }
  .student-review-heading{color: #ffbf10;text-align: center;}
   
  @media (max-width: 575.98px) {
    .footer-bg { background-image: url('/assets/images/footer backgroundimg1.png'); }  
    .review-tab{ padding-bottom:0px; }
    .review-container { display: none; }
    .review-container1 { display: block; }
  }


  