<div class="container">
    <div class="margin-t-50">
        <p>
            We strive to give you a great customer experience and 100% satisfaction. The refund policy is meant to
            secure
            your payments in case of non-receipt of services as promised. Also, when you place an order on our website,
            we
            assume that you have read and agree to all the policies stated.
        </p>
        <p>
            *It is important to note that, there will be no changes in the delivery date once the order has been placed
            with
            us.
        </p>
        <p>
            <b>
                With us, you can never get a ‘fail’ grade in your assignment, however if you do then we will do a 50
                percent
                cash refund. The reason we cannot refund the full amount is because we pay the writers in advance, so
                getting the money back from the writer is not possible for us. Instead, we will do a free assignment of
                the
                same value if your claim is genuine after verification.

                50% refund is done under the following circumstances:
            </b>
        </p>
    </div>

    <h4>50% refund is done under the following circumstances:</h4>
    <hr>
    <p>
        *The refund will only be processed if and when there is verifiable proof(s) such as grade sheet, etc. presented
        by the student.<br>
        **The claim for refund will be thoroughly investigated before a refund is processed.<br>
        ***When we do not deliver the completed work at all, we shall adjust the amount in your next assignment of the
        same word count and complexity
    </p>

    <h4>NO Refund:</h4>
    <p>We do not offer any refund in the following cases:</p>
    <ul>
        <li> No refund will be processed after 30 days from the time the order is delivered.</li>
        <li>For any assignment with a deadline of within 72 hours.</li>
        <li>When there is delay in the final delivery of work*** (In such cases, we shall adjust the amount in the next
            order you place with us)</li>
        <li>The assignment work is not as per the given specifications and there is no time left for revision. ****</li>
        <li> No refund will be processed after 30 days from the time the order is delivered.</li>
        <li>For any assignment with a deadline of within 72 hours.</li>
        <li>When there is delay in the final delivery of work*** (In such cases, we shall adjust the amount in the next
            order you place with us)</li>
        <li>The assignment work is not as per the given specifications and there is no time left for revision. ****</li>
    </ul>
    <h4>In addition, there are certain Terms and Conditions to be considered:</h4>
    <p>It is advised to the clients to read and agree the following terms and conditions related to our services before
        booking your orders with us:</p>
    <ul>
        <li> We provide best experts available at the given point of time for online tutoring sessions. You need to
            provide detailed requirements of your order to ensure that we finalize the best suitable expert for your
            order.</li>
        <li>We are available 24*7 on or live chat/emails. However, during our site update or maintenance/technical
            errors, we are not liable for the interruptions or delay in communication.</li>
        <li>In case of any deviation of services from the features mentioned earlier, we offer free rework policy. We
            get your samples revised free of cost.</li>

        <li>In case of any disagreement over the service provided, the decisions taken by our Resolution Centre will be
            considered final.</li>
        <li>We keep revising our Terms and Conditions based on the latest updates in the industry. You are advised to be
            updated with the latest version of the T&Cs.</li>
    </ul>
    <h4>To raise the refund request, please fill in the following details-</h4>


    <div class="row justify-content-md-center margin-t-50">
        <div class="col-md-6">
            <mat-card>
                <form class="registration">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width" class="registration-fields">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First name" name="fname" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="full-width" class="registration-fields">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" name="email" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="country-code" required>
                                <mat-select placeholder="code">
                                    <mat-option *ngFor="let category of patientCategories" [value]="category">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="number">
                                <input matInput placeholder="Phone No." required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="full-width" class="registration-fields">
                                <mat-label>Order Code</mat-label>
                                <input matInput placeholder="order-code" name="order-code" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                              <mat-form-field class="registration-fields">
                                            <input matInput [owlDateTime]="dt1" placeholder="Deadline*"
                                                 [owlDateTimeTrigger]="dt1">
                                            <owl-date-time #dt1></owl-date-time>
                                        </mat-form-field>

                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="registration-fields">
                                          <input matInput [owlDateTime]="dt2" placeholder="Deliver date*"
                                             [owlDateTimeTrigger]="dt2">
                                          <owl-date-time #dt2></owl-date-time>
                                      </mat-form-field>

                      </div>
                        <div class="col-md-12">
                            <mat-form-field class="full-width" class="registration-fields">
                                <mat-label>Message</mat-label>
                                <input matInput placeholder="message" name="message">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <div class="registration-fields">
                                <input type="file" placeholder="file" name="file">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-12">
                            <button class="btn btn-warning" (click)="register()" >Submit</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>